.container-category-item {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}

.image-category-item {
    width: 100%;
    height: 100%;
    object-fit: center;
}

.info-category-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-category-item {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.button-category-item {
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (max-width: 620px) {
    .container-category-item {
        max-height: 350px;
    }

    .image-category-item {
        height: '20vh'
    }
}