.container-login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
        ),
        url("https://images.pexels.com/photos/1625037/pexels-photo-1625037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login {
    width: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.title-login {
    font-size: 24px;
    font-weight: 300;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.input-login{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}

.btn-login {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.link-login {
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 620px) {
    .wrapper-login {
        width: '75%';
    }
}